table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 2rem auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    & th,
    td {
        border: 1px solid #ccc;
        padding: 10px;
    }
    & th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    & td {
        background-color: #fff;
        position: relative;
        padding: 2rem 0.5rem;
        & .number {
            position: absolute;
            top: 5px;
            right: 5px;
        }


        & .event {
            width: 100%;
            max-width: 100px;
            margin-top: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: none;
            border-left: 5px solid;
            padding: 0.3rem;
        }
    }
}
