@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;


.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    width: 100vw;
    background-color: color.$bg-100;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    a.logoBar {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 2rem;
        .icon {
            margin-right: 10px;
            color: color.$primary-100;
        }
        .title {
            @include font.text;
            color: color.$primary-100;
        }
    }


    .navBar {
        display: flex;
        align-items: center;
        gap: 1rem;
        .link {
            text-decoration: none;
            color: color.$text-100;
            font-size: 1.2rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }
    }


    @media screen and (max-width: 768px) {
        a.logoBar {
            font-size: 1.5rem;
        }
        .link span {
            display: none;
        }
    }
    a.active {
    text-decoration: none;
    color: color.$primary-100;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

}
